page-home {
    .fixed-content{
        background-color:#395799;

    }
}
// .md{
//     .scroll-content{
//         padding-bottom:150px 
//     }
// }

ion-img{

    background-color:transparent; 
}

// .grid{
//     height:100%; 
//     .row{
//         height:100%; 
//         .col{
//             height:100%; 
//         }

//     }
// }

// .center{
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     margin-left: auto;
//     margin-right:auto;
//     left:0;
//     right:0;
// }
.img-logo{
    max-height: 37px;
    width:auto;
    margin-left:auto;
    margin-right:auto;   
}
.pad20{
    padding-bottom:20px; 
}
.card-content{
    padding-left:0;
    padding-right: 0;
    .form{
        .item{
            background-color:#DEDEDE;
        }
    } 

}

.item-md .item-button{
    padding:20px 15px;

}
.card-content .form .item{
    padding-right: 15px;
}

.brand{
    width:35px;
    display:inline-block; 
    img{
        width:100%;
        height:auto;  
    } 
}

.ion-card-footer{
    display:flex; 
    flex-direction:row;
    justify-content:space-between;
    padding:15px;
    padding-top:0; 
    &>*{
        align-items: center;
    }  
}
