<ion-content>
<ion-grid style="height: 100%">

<ion-row justify-content-center align-items-center style="height: 100%">

      <ion-col>
        <ion-card class="center">
          <ion-card-header>
            <ion-img class="img-logo" width="256" height="37" src="assets/imgs/logo-intranet.png"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <div class="form">
              <ion-item>
                <ion-label floating>
                  <ion-icon name="contact"></ion-icon>
                  Ingrese su correo electrónico
                </ion-label>
                <ion-input type="text" value="" [(ngModel)]="email" autocapitalize="none"></ion-input>

              </ion-item>
              <ion-item class="pad20">
                <ion-label floating>
                  <ion-icon name="key"></ion-icon>
                  Ingrese su Contraseña
                </ion-label>
                <ion-input type="password" [(ngModel)]="pass" autocapitalize="none"></ion-input>

              </ion-item>
            </div>
            <ion-item>
                <button ion-button icon-right (click)="saveDataUser(email,pass)">
                  <ion-icon name="key"></ion-icon>
                  &nbsp;Ingresar    
                </button>
                <!-- <button ion-button clear (click)="goToPassword()">Recuperar contraseña</button> -->
            </ion-item>
          </ion-card-content>
          <div class="ion-card-footer">
            <button small ion-button clear (click)="clearDataUser()">Otro usuario</button>
            <a href="#" class="brand">
              <ion-img width="35" height="35"  src="assets/imgs/logo-abril.png"></ion-img>
            </a>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  

<!-- https://www.youtube.com/watch?v=SPJ9TdHaI3A -->
<!-- https://stackoverflow.com/questions/37526321/cordova-inappbrowser-post-form-to-url -->
